body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    width: 500px;
    border: 1.5px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: #ffffff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #86888b;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
}

button:hover {
    background-color: #868686;
}

#hasil-konversi {
    margin-top: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f9fa;
    color: #495057;
}